<div class="<%= (@tile_thumbnails.nil? ? 'photo-micro-window' : 'photo-micro-window tiled-window') %>">
  <% if @tile_thumbnails.nil? %>
    <%= photo_thumb picture %>
  <% else %>
    <%= photo_tile picture %>
  <% end %>
  <div class="meta-blur"></div>
  <div class="meta-data">
    <%= content_tag :strong, link_to(picture.title, picture), class: 'picture-title' %> &mdash;
    by <%= link_to picture.user.first_name, picture.user %>
    <div class="pull-right">
      <span class="glyphicon glyphicon-heart"></span> <%= picture.votes.size %>
    </div>
  </div>
</div>