<div class="row">
  <div class="col-md-4">
    <h4><span class="glyphicon glyphicon-log-in"></span> Sign in to your account</h4>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
      <%= f.error_notification %>
      <%= display_base_errors resource %>
      <%= f.input :email, required: true, wrapper: :group %>
      <%= f.input :password, wrapper: :group %>
      <% if devise_mapping.rememberable? %>
        <div class="checkbox">
          <label>
            <%= check_box_tag :remember_me, 1, params[:remember_me] %> Remember me
          </label>
        </div>
      <% end %>
      <%= f.button :submit, 'Sign in', class: 'btn btn-primary btn-submit' %>
    <% end %>
  </div>
</div>

