<div class="row">
  <div class="col-md-4">
    <%= simple_form_for @photo do |f| %>
      <% if @photo.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this from being saved:</h2>
          <ul>
          <% @photo.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.input :title, wrapper: :group %>
      <%= f.input :description, wrapper: :group, as: :text %>
      <%= f.label :image, 'Choose your photo' %>
      <%= f.file_field :image, wrapper: :group %>
      <br />
      <%= f.input :tag_list, wrapper: :group, placeholder: "seperated by commas" %>
      <br />
      <%= f.submit 'Upload photo', class: 'btn btn-primary btn-submit' %>
    <% end %>
  </div>
</div>
